.body {
    background-color: #d9d9d9;
    max-width: 1000px;
    margin: 5px auto;
    padding: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
}

.body__broken {
    background-color: #00d9ff;
    color: #ff0000;
    font-size: 30px;
    text-shadow: 5px 5px 5px #e2fa04;
}

.body__header {
    color: #13430d;
    background-color: #b7c4d2;
    text-align: center;
    box-shadow: 3px 3px 5px 1px #85a2c1;
    margin: 5px;
    padding: 5px;
}

.body__subheader {
    color: #5d1515;
    margin: 5px;
    padding: 5px;
}

.body__footer {
    outline: 2px solid #85a2c1;
    margin: 10px;
    padding: 5px;
    text-align: center;
}

.body__image {
    width: 200px;
    border-radius: 10%;
    display: block;
    margin: 10px auto;
    box-shadow: 3px 3px 5px 1px #020002;
}

.body__villageImage {

    max-width: 95%;
    border-radius: 10%;
    display: block;
    margin: 10px auto;
    box-shadow: 3px 3px 5px 1px #020002;
}

.body__poem {
    text-align: center;
    font-style: italic;
}

.body__button {
    margin: 20px auto;
    padding: 10px;
    display: block;
    box-shadow: 3px 3px 5px 1px #020002;
    color: #ffffff;
    background-color: #858585;
    border-radius: 10px;
}

.body__button:hover {
    background-color: hsl(0, 0%, 66%);
}

.body__button:active {
    background-color: hsl(0, 0%, 35%);
}