.body {
    background-color: #d9d9d9;
    max-width: 1000px;
    margin: 5px auto;
    padding: 5px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
}

.body__broken {
    background-color: #00d9ff;
    color: #ff0000;
    font-size: 30px;
    text-shadow: 5px 5px 5px #e2fa04;
}