.section__subheader {
    color: #5d1515;
    margin: 5px;
    padding: 5px;
}

.section__image {
    width: 200px;
    border-radius: 10%;
    display: block;
    margin: 10px auto;
    box-shadow: 3px 3px 5px 1px #020002;
}

.section__villageImage {

    max-width: 95%;
    border-radius: 10%;
    display: block;
    margin: 10px auto;
    box-shadow: 3px 3px 5px 1px #020002;
}

.section__poem {
    text-align: center;
    font-style: italic;
}

.section__button {
    margin: 20px auto;
    padding: 10px;
    display: block;
    box-shadow: 3px 3px 5px 1px #020002;
    color: #ffffff;
    background-color: #858585;
    border-radius: 10px;
}

.section__button:hover {
    background-color: hsl(0, 0%, 66%);
}

.section__button:active {
    background-color: hsl(0, 0%, 35%);
}